*{
    padding: 0;
    margin: 0;
}
.nav_background{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    font-family: sans-serif;
    margin: 0 auto;
  
}
.nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav_logo{
    color: #444;
    text-decoration: none;
}
.nav_logo:hover{
    color: #666;
}
.nav_ul{
    display: flex;
    justify-content: space-between;
    max-width: 700px;

}
.nav_ul>li{
    display: flex;

}
.nav_link{
    flex: 1;
    color: #444;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    padding: 1rem 1.5rem;
    flex-basis: auto;
}
.nav_link:hover{
    background-color: #f1f1f1;
}
.active_link{
    background-color: #f1f1f1;
}