header {
  width: 100%;
  padding: 1em;
  font-size: 140%;
  position: absolute;
  left: 0;
  top: 100vh;
  text-align: left;
}
header h1 {
  font-weight: 600;
  display: inline;
  margin: 0;
  padding: 0;
}
nav {
  float: right;
}
nav a {
  display: inline;
  text-decoration: none;
  padding: 0 0.5em;
  color: black;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  opacity: 0.7;
}
nav a:hover {
  opacity: 1;
}
